projeto-1/menor_caminho/__pycache__
projeto-1/menor_caminho/__init__.pyc
projeto-1/blocos_deslizantes/n-rainhas/__pycache__
projeto-2/melhoria-iterativa/maximo-funcao/__pycache__
projeto-2/satisfacao-de-restricoes-PSR/modelamento-1/__pycache__
projeto-2/satisfacao-de-restricoes-PSR/modelamento-1/__pycache__

